.InputField {
    position: relative;
    // height: 62px;
    &:focus-within {
        .Label--Normal {
            color: #128CD6;
        }
    }
    &__Field{
        position: relative;
        margin-top: 5px;
    }
}
.Input {
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 7px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    color: #181919;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline: none;
    &--Normal {
        border: 1px solid #DADEE5;
        &:hover {
            border: 1px solid #128CD6;
        }
        &:focus {
            border: 1px solid #128CD6;
            box-shadow: 0px 0px 7px 3px rgba(18, 140, 214, 0.22);
            caret-color: #128CD6;
        }
        &::placeholder {
            color: #AAADB2;
        }
    }
    &--Success {
        border: 1px solid #09AB7A;
        & + {
            color: #09AB7A;
        }
    }
    &--Warning {
        border: 1px solid #F2994A;
        & + {
            color: #F2994A;
        }
    }
    &--Error {
        border: 1px solid #EB5757;
        & + {
            color: #EB5757;
        }
    }
    &:disabled {
        background: #F2F2F2;
        border: 1px solid #DADEE5;
        color: #797B80;
    }
}

.Label {
    text-align: left;
    font-style: normal;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    
    &--Normal {
        color: #494A4C;
    }
    &--Success {
        color: #09AB7A;
    }
    &--Warning {
        color: #F2994A;
    }
    &--Error {
        color: #EB5757;
    }
    &__Disabled {
        color: #AAADB2;
    }
}

.Icon {
    position: absolute;
    top: 30%;
    right: 3%;
    z-index: 2;
}

